.ui-helper-hidden-accessible {
	 display:none; /* Si no pones esto se agregan los textos de los tooltips debajo del footer y hace un efecto de zoom en el fondo que no es agradable */
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}

.tooltipLeft {
  position: relative;
  display: inline-block;
}

.tooltipLeft .tooltiptextLeft {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltipLeft .tooltiptextLeft::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
.tooltipLeft:hover .tooltiptextLeft {
  opacity: 1;
  visibility: visible;
}

body {
  background-image: url("../images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: black;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  position: relative;
}

.ayuda{
  display: flex;
}

footer{
  position: absolute;
  bottom: 0;
  width: -moz-available;
  width: -webkit-fill-available;
}

/*header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}*/

header, footer {
  display: flex;
  padding: 0 10px 0 10px;
  /*border: 10px solid black;*/
  justify-content: space-between;
  align-items: center;
  /*border-radius: 30px;*/
  background: rgba(255, 255, 255, 0.5);
}

.titulo {
  margin-right: 20px;
  display: flex;
  align-items: center;
  color: rgb(255,126,0);
  cursor: pointer;
}
#Apptivity{
  display: block;
}

#logo {
  text-align: left;
  font-size: 50px;
  padding: 10px;
  vertical-align: middle;
}

.user {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#userImg{
  display: inline-flex;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid rgb(255,126,0);
  cursor: pointer;
}

.icons{
  place-self: center;
}

.icons i{
  margin: 0px 2px;
  font-size: 35px;
  cursor: pointer;
}

.icons .dropdown-content{
  margin-top: 0;
  text-align: center;
}

.bellNotification {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 2px 7px;
  border-radius: 50%;
  background: rgb(255,126,0);
  color: white;
}

.nonRegisteredHomepage{
  text-align: center;
}

.nonRegisteredHomepage h2{
  margin: 5vh;
  font-style: italic;
}

.videoFrame{
  padding: 10%;
}

#homeScreen{
	display: none;
}

.side1 {
  display: flex;
}

.side1 h3{
  margin: 10px;
}

.side2 {
  display: flex;
}

.options {
  display: flex;
  /* border: 5px solid black; */
  padding: 0px;
  /* border-radius: 50px; */
}

.options a:link, .options a:visited, .options a:hover , .information_opinions_and_preferences a:link, .information_opinions_and_preferences a:visited, .information_opinions_and_preferences a:hover {
  color: black;
  font-weight: bold;
}

header li {
  display: inline;
  vertical-align: middle;
  margin: 2px;
	overflow: auto;
}

a:link, .places a:link {
  color: rgb(255,126,0);
}

a:visited, a:hover, .places a:visited, .places a:hover {
  color: rgb(255,126,0);
}

.preferences{
  padding-left: 0px;
}

.content{
  display: flex;
}

.fa-caret-square-down{
  color: rgb(255,126,0);
  width: 25px;
  font-size: 25px;
  float: right;
}

.caret-square-down{
  float: right;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.user .dropdown-content{
  margin-top: 0;
}

.dropdown-content {
  display: none;
  text-align: center;
  position: absolute;
  background-color:rgb(0,180,255);
  color:black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  margin-top: 25px;
  border-radius: 10px;
}

#shareCategoryDropdown{
  margin-right: 150px;
  margin-top: 0;
  background-color: rgb(255, 126,0);
}

#shareCategoryDropdown a:hover{
  color: blue;
}

.dropdown-content h4{
  margin: 10px;
}

/* Links inside the dropdown */
.dropdown-content a, .dropdown-content p {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  min-width: 160px;
  cursor: pointer;
}

.show {
  display: block;
}

section{
  display: none;
}

section, .mapa {
	box-sizing: border-box;
	/* border: 10px solid black; */
  padding: 10px;
  margin: 10px;
  flex: 1;
	align-self: self-start; /* Con esto hacemos que las cajas no ocupen todo el espacio */
	background: rgba(255, 255, 255, 0.5);
	border-radius: 30px;
}

.sections{
  display: flex;
  width: 75%;

}

.mapouter{
  position:relative;
  text-align:right
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  border-radius: 25px;
}

#gmap_canvas{
  width: 100%;
  height: 300px;
}

#gmap_canvas_mobile{
  width: 100%;
  height: 300px;
}

.mapaMovil{
  display: none;
}

.section{
  margin-bottom: 70px;
}

.twoFormSection{
  display: inline-flex;
  /*justify-content: space-between;*/
  width: 100%;
}

.about_me{
  width: 50%;
  margin: 0 10px;
}

.twoForms{
  margin: 0 10px;
}

textarea[name="about_me"]{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.name {
  display: flex;
  align-items: center;
}

/* #plus {
  display: inline;
  float: right;
  width:10px;
  height: auto;
  padding: 5px;
} */

#preferences {
  display: inline;
}

.preferences li {
  display: inline-table;
  border: 2px solid honeydew;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
}

.preferences img {
  display:inline;
  float: right;
  width: 10px;
  height: auto;
  padding-top: 5px;
  padding-left: 5px;
}

.stormtrooper_mode {
  display: none;
}

.info {
  display: none;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title img{
    width: 30px;
    height: 30px;
}

.caja {
  padding: 10px;
  /* border: 3px solid black; */
  border-radius: 20px;
  margin-bottom: 15px;
  background: rgba(255,255,255,0.6);
  color: black;
}

.content_caja {
    display: flex;
    align-items: center;
}

.image_caja {
  display: none;
  width: 100px;
  height: 100px;
  padding: 2px;
  margin-bottom: 10px;
  float: left;
  object-fit: cover;
  border-radius: 25%;
}

.hashtags{
  display: inline-flex;
  margin-bottom: 5px;
}

.hashtags p{
  margin: 0;
  margin-right: 5px;
  display: inline-flex;
}

.fa-plus-square{
  color: rgb(255,126,0);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.commentButton, .likeButton, .shareButton{
  width: 25px;
  height: 25px;
  margin: auto;
  filter: invert(1);
}

.caja_date {
  margin: auto;
}

.caja_movil {
  display: none;
}

.datos p{
  font-size: 20px;
}

.reseña{
  float:left;
}

.load_more{
  display: block;
  text-align: center;
}

.load_more img{
  width: 50px;
  filter: invert(1);
}

input[type=text], input[type=password], input[type=date], input[type=email], select {
  padding: 12px 20px;
  margin: 8px auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[value="Guardar"], #jv_inicio{
  border-radius: 10px;
  color: white;
  background-color:rgb(2,125,180);
  border: 2px solid black;
  font-size: large;
  padding: 10px;
  min-width: 90px;
  cursor:pointer;
}

button[value="Borrar"]{
  border-radius: 10px;
  color: white;
  background-color:rgb(217,0,27);
  border: 2px solid black;
  font-size: large;
  padding: 10px;
  margin-left: 10px;
  width: 90px;
  cursor:pointer;
}
button[value="Borrar"]:hover, input[value="Guardar"]:hover{
  filter: invert(0.2);
}

input[type="submit"]{
  cursor: pointer;
}

.checkboxes {
	display: inline-flex;
}

.field-full {
  width: 98%;
}

.field-divided {
  width: 48.75%;
}


#profileSection {
  display: flex;
  margin: 15px 15px 100px 15px;
  justify-content: space-evenly;
}

.innerProfileSection{
  width: 60%;
}

.form, .information{
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  background: rgba(0,0,0,0.6);
  color: white;
  margin-top: 10px;
}

.form h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

#logIn{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 80%;
}

#registerForm{
  margin-left: 10px;
  margin-right: 10px;
}

.information {
  text-align: center;
  position: sticky;
  top: 120px;
  display: block;
  margin-top: 70px;
  margin-bottom: auto;
  color: black;
}

.profileSide h3 {
  text-align: center;
  height: 70px;
  background-color: rgb(255,126,0);
  border-radius: 10px;
  border: 2px solid
  black;
  padding: 10% 0 0% 0;
}

.information p {
  background-color: rgb(255,126,0);
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.information img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid rgb(255,126,0);
  margin: 5px;
}

.checkbox {
  padding: 10px;
  margin-bottom: 15px;
  max-width: 260px;
	overflow: auto;
}

.activity1, .activity2 {
  display: inline-flex;
}

.activity {
  text-align: center;
  margin-left: 30px;
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
}

/*footer {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: honeydew;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: black;
    border-top-style: solid;
    border-top-width: thick;
}*/


.copyright {
  text-align: center;
}

#Copyright {
  display: inline;
}

.social {
  display:flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 20px;
}

.social img {
  display: inline;
  width: 25px;
  height: auto;
  padding: 2px;
  align-items: flex-end;
  vertical-align: middle;
}

.mobile_footer {
  display: none;
}

#commentBox, #newActivityBox, #mapaMovil {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#commentBox{
  padding-top: 0;
  overflow: scroll;
}

.comments{
  max-height: 300px;
  overflow: auto;
}

#commentBoxContent, #newActivityBoxContent, .mapaPopUp{
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 30px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 700px;
  width: 80%;
}

#commentBoxTitle, #newActivityBoxTitle {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.comment{
  background:aliceblue;
  padding: 10px;
  margin: 7px;
  border-radius: 15px;
  border: 1px solid gray;
}

#commentBoxInput, #newActivityBoxInput{
  margin: 7px;
  padding: 10px;
  width: -moz-available;
  width: -webkit-fill-available;
}

#commentBoxForm{
  display: flex;
}

#commentBoxForm input[value="Enviar"]{
  margin: 7px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color:rgb(2,125,180);
  border: 2px solid black;
  font-size: large;
  padding: 10px;
  width: 90px;
}

#newActivityBoxForm input[value="Añadir"]{
  margin: 7px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color:rgb(2,125,180);
  border: 2px solid black;
  font-size: large;
  padding: 10px;
  width: 90px;
}

#newActivityBoxForm button[value="Cancelar"]{
  margin: 7px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color:rgb(217,0,27);
  border: 2px solid black;
  font-size: large;
  padding: 10px;
  width: 90px;
}

/* The Close Button */
#closeCommentBox, #closenewActivityBox {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#closeCommentBox:hover,
#closeCommentBox:focus,
#closenewActivityBox:hover,
#closenewActivityBox:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#commentBoxSocial {
  display:flex;
  justify-content: center;
}

#commentBoxSocial img {
  display: inline;
  width: 50px;
  height: auto;
  padding: 2px;
  vertical-align: middle;
  border-left-color: black;
  border-left: thin;
  border-left-style: solid;
}

#jv_inicio{
  background-color: rgb(2,125,180);
  color: white;
  padding: 10px;
  cursor: pointer;

}
#jv_inicio:hover{
  background-color:rgb(2,125,300);
}

#jv_forgetpassw{
  text-decoration: underline;
  margin-left: 20px;
  font-size: 15px;
  cursor: pointer;

}

.mobile_footer1 {
  display:none;
}
.mobile_footer2 {
  display:none;
}
#inic{
  display:block;
 }
 #reg{
  display:block;
 }
 #profile{
  display:block;
 }
.mapa{
  display: block;
}
i {
  text-align: center;
  cursor: pointer;
}
#newActivityBoxForm input[value="Añadir"]:hover,#newActivityBoxForm button[value="Cancelar"]:hover{
  filter: invert(0.2);
  cursor: pointer;
}
@media screen and (max-width: 988px){
.twoFormSection{
  display: block;
}

.titulo{
  font-size: small;
}

}
@media screen and (max-width: 900px){
  
#logo, .icons i{
  font-size: 25px;
}

#logo{
  padding: 0;
}

#userImg{
  width: 25px;
  height: 25px;
}

footer{
  display: none;
 }
#Apptivity{
  display: block;
}
#inic{
  display: none;
 }

 #reg{
  display: none;
 }  

 #profile{
  display: none;
 }

.mapa{
  display: none;
}

#homeScreen{
  display: none;
}
.section{
  margin-bottom: 120px;
}
.sections{
  display: block;
  width: -moz-available;
  width: -webkit-fill-available;
  margin-bottom: 50px;
}
.nonRegisteredHomepage iframe{
  width:80%;
}

.mobile_footer {
  display: block;
}

.mobile_footer1 {
  display:flex;
  padding: 10px;
  background-color: #555555;
  overflow: auto;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: -moz-available;
  width: -webkit-fill-available;
}
.mobile_footer1 p {
 
  text-decoration:none;
  text-align: center;
  margin: 0;

}
.botones1{
  float:left;
  text-align: center;
  text-decoration:none;
  cursor:pointer;
 
  margin-top:10px;
  margin-bottom: 10px;

}
.botones1:hover{
 filter: invert(0.4) sepia(1) hue-rotate(0deg) saturate(1000%);

}
.footer_logo {
  width: 30px;
  height: 30px;
  
  filter: invert(1) sepia(1) ;

}

.mobile_footer1 a:visited,.mobile_footer1 a:hover, .mobile_footer1 a {
  color: #E4E4E4;
  text-decoration:none; 
}

.mobile_footer2 {
  display:none;
  background-color: #555555;
  overflow: auto;
  position: fixed;
  bottom: 0;
  width: -moz-available;
  width: -webkit-fill-available;
  cursor: pointer;
}

.mobile_footer2 p { 
  text-decoration:none;
  text-align: center;
  margin: 0;
}
.botones2{
  float:left;
  text-align: center;
  text-decoration:none;

  width:49%;
  margin-top:10px;
  margin-bottom: 10px;

}
.botones2:hover{
 filter: invert(0.4) sepia(1) hue-rotate(0deg) saturate(1000%);

}
.footer_logo {
  width: 30px;
  height: 30px;
  
  filter: invert(1) sepia(1) ;

}
.mobile_footer2 a:visited,.mobile_footer2 a:hover, .mobile_footer2 a {
  color: #E4E4E4;
  text-decoration:none; 
}

#profileSection{
  flex-direction: column-reverse;
}

.innerProfileSection, #profileSide{
  width: auto;
}

.twoFormSection{
  display: block;
}

}
@media screen and (max-width: 640px){
#Apptivity{
  display: none;
}

.side1 h3{
  display: none;
}

.options a{
  display: none;
}

}